nav {
  width: 100%;
  background: #fff;
  color: var(--primary-color);
  height: 75px;
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav i {
  color: var(--secondary-color);
}
.logo {
  width: 140px;
}
nav ul li {
  list-style: none;
  display: inline-block;
  margin: 5px 15px;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  cursor: pointer;
}
nav ul li:hover {
  color: rgb(0, 12, 83);
}
.red-btn:hover {
  background: rgb(206, 38, 1);
}
.menu-icon {
  display: none;
}

/*--- Media Query ---*/
@media (max-width: 840px) {
  nav ul {
    position: fixed;
    top: 0;
    right: 0;
    background: var(--primary-color);
    z-index: -1;
    width: 200px;
    padding-top: 80px;
    transition: 0.5s;
    bottom: 0;
  }
  nav ul li {
    display: block;
    margin: 25px 40px;
    color: #fff;
  }
  nav button {
    display: none;
  }
  .menu-icon {
    display: block;
    width: 25px;
    cursor: pointer;
  }
  .hide-mobile-menu {
    right: -200px;
  }
}
