.topbar-wrapper {
  background: var(--primary-color);
  padding: 8px 0;
}
.topbar {
  display: flex;
  justify-content: space-between;
  color: #fff;
  font-size: 14px;
  font-weight: 200;
}
.topbar-content {
  display: flex;
  gap: 20px;
}
.topbar-content i {
  color: var(--secondary-color);
}
.topbar-items {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
}
.topbar-items img {
  width: 14px;
}
.social-icons i {
  color: #fff;
  margin-left: 10px;
  background-color: var(--secondary-color);
  padding: 4px;
  border-radius: 30px;
}
