@import url(https://fonts.googleapis.com/css?family=Outfit:100,200,300,regular,500,600,700,800,900);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}
:root {
  --primary-color: #1d2d8c;
  --secondary-color: #f42f04;
  --body-bg: #d9d9d9;
}
body {
  background-color: var(--body-bg);
}
.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 64px;
}
.btn {
  background: var(--secondary-color);
  color: #fff;
  padding: 10px 12px;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  border-radius: 5px;
  cursor: pointer;
  border: 0;
  outline: 0;
  text-transform: uppercase;
}
