.footer {
  background: var(--primary-color);
  width: 100%;
  height: auto;
}
.footer-info {
  width: 100%;
  padding: 100px 0 60px 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.footer-logo {
  width: 140px;
}
.content-left,
.content-right {
  width: 100%;
  flex: 1;
}
.left-items p {
  color: #fff;
  font-size: 15px;
  line-height: 20px;
  font-weight: 200;
  max-width: 450px;
  margin: 20px 0;
}
.footer-icons i {
  color: #fff;
  margin-right: 10px;
  background-color: var(--secondary-color);
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
}
.content-right {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.footer-col h4 {
  font-size: 16px;
  line-height: 24px;
  text-transform: capitalize;
  color: #fff;
  font-weight: 600;
  margin-bottom: 20px;
}
.footer-col p {
  color: #fff;
  font-size: 15px;
  line-height: 20px;
  font-weight: 200;
  margin-bottom: 15px;
}
.footer-col i {
  color: var(--secondary-color);
  margin-right: 10px;
}
.details {
  color: #fff;
  display: flex;
}
.details h5 {
  text-transform: capitalize;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
}
